*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    height: 100%;
    background-color:black;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}
#logo {
     width: 22vw;
    max-width: 320px;
}
h1{
    color: aliceblue;
     margin-top: 20px;
    font-size: 1.8rem;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    text-align: center;
}
