*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    height: 100%;
    background-color:black;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    f
}
#logo {
    width: 20vw;
}
h1{
    color: aliceblue;

}